* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    width: 400px;
    height: 250px;
    text-align: center;
    background-color: red;
    border-radius: 15px;
    color: white;

}

header {
    height: 40%;
    background-color: red;
    border-radius: 15px 15px 0px 0px;
}

.header {
    font-size: 3rem;
}

.subheader {
    font-size: 1.5rem;
    
}

section {
    position: relative;
    top: 25px;
    height: 40%;  
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    background-color: white;
    color: black
}

footer {
    height: 20%;
    background-color: red;
    border-radius: 5px;
    border-radius: 0px 0px 15px 15px;
}